[submodule "external/grasshopper-python-comm"]
	path = external/grasshopper-python-comm
	url = https://github.com/danhaive/grasshopper-python-comm.git
[submodule "external/conmech"]
	path = external/conmech
	url = https://github.com/yijiangh/conmech
